*{
  padding: 0px;
  margin: 0px;
}
header, hgroup, nav, section, article, figure, figcaption, aside, footer{
  display: block;
}
body{
  text-align: center;
}
#container{
  width: 100%;
  margin: 15px auto;
  text-align: left;
}

#cabecera img{
  width: 120px;
  height: 40px;
  vertical-align: middle;
}
#cabecera{
  border: 1px solid lightgrey;
  padding: 20px;
  background: lightblue;
  text-align: center;


}
#menu{
  padding: 5px 15px;
  background: #CCCCCC;
  text-align: center;
}
#menu li{
  display: inline-block;
  list-style: none;
  padding: 5px;
  font: bold 14px verdana, sans-serif;
}
#menu li:hover{
  background: #999999;
}
#menu li a{
  text-decoration: none;
  color: black;
}
#seccion {
  width: 660px;
  margin: 20px;
  float: left;

}
article{
  border: 1px solid lightgrey;
  padding: 20px;
  background: linen;
  margin-bottom: 15px;
}
article img{
  width:200px;
}
article hgroup{
  margin-bottom: 10px;
}
time{
  color: #999999;
}
article header{
  margin-top: 10px;
  margin-bottom: 10px;
}
article footer{
  text-align: right;
  color: steelblue;
  font-weight: bold;
}
#columna{
  float: left;
  width: 220px;
  margin: 20px 0px;
  padding: 20px;
  background: #CCCCCC;


}
#pie{
  clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #999999;
}
#SubmenuLateral a{
  text-decoration: none;
  color: black;
}
#SubmenuLateral:hover a.blanco{
  color: white;
}
ul.SubmenuLateral:hover a{
  color:white;
}
ul.SubmenuLateral{
  display: none;
  list-style: none;
}
li#SubmenuLateral:hover ul{
  display: block;
  padding-left: 10px;

}
ul.Submenu{

  display: none

}
li#Submenu:hover ul{
  display: inline-block;
  position: absolute;
  margin-top: 5px;
  padding: 1px;
  background: #CCCCCC;

}

#columna li{
  list-style: none;
}
span.bajo{
  display: none;
}

li#SubmenuLateral:hover span.bajo{
  visibility: visible;
  display:inline;
}
li#SubmenuLateral:hover span.derecha{
  visibility: hidden;
  display:none;
}
ul.Subsubmenu{
  display: none;
  visibility: hidden;
}
li.inicio:hover ul{
  visibility: visible;
  display: inline-block;
  position: absolute;
  margin-top: 5px;
  padding: 1px;
  background: #CCCCCC;
}
.todo{
  padding-left: 20%;
}
